.main {
  padding-bottom: 31rem;
}

@media screen and (min-width: 768px) {
  .main {
    padding-bottom: 38.4rem;
  }
}

@media screen and (min-width: 1280px) {
  .main {
    padding-bottom: 38rem;
  }
}
